{% extends 'base_inicio.html' %}

{% block content %}
<!-- SECTION -->
			<section class="alternate">
				<div class="container">
					
					
					<header class="text-center">
						<h2>Colegio Amelio Gallegos Díaz</h2>
						<p class="lead">Algo sobre el colegio</p>
						<div class="divider half-margins onepage center"><!-- lines divider --></div>
					</header>

					
					<div class="row">

						<div class="col-md-4 col-sm-6">
							<h4>Historia</h4>
							<p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum erat, biluctus mi. Quisque consequat risus quis tincidunt fringilla. Ut sed rhoncus metus, in rhoncus dolor. Integer tempor ligula est, sed luctus metus tempus a. Pellentesque tempor libero et arcu bibendum mollis. Aliquam eu odio eget diam egestas euismod vel sed orc aenean.</p>
						</div>

						<div class="col-md-4 col-sm-6">
							<h4>Algo más</h4>
							<p>Pellentesque tempor libero et arcu bibendum mollis. Donec eu porta elit. Aliquam porta sollicitudin ante, ac fermentum orci mattis et. Phasellus ac nibh eleifend, sagittis purus nec, elementum massa. Quisque tincidunt sapien a sem porttitor, id convallis dolor pharetra. Donec tempor cursus facilisis. Ut eu elementum arcu, vel hendrerit nisi. Cras sed euismod nibh, a adipiscing.</p>
						</div>

						<div class="col-md-4 col-sm-12">

							<!-- ACCORDION -->
							<div class="accordion panel-group transparent" id="accordion2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion2" href="#acordion_1">
												<i class="fa fa-plus"></i>
												Nuestra Misión
											</a>
										</h4>
									</div>
									<div id="acordion_1" class="collapse">
										<div class="panel-body">
											Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion2" href="#acordion_2">
												<i class="fa fa-plus"></i>
												Nuestra Visión
											</a>
										</h4>
									</div>
									<div id="acordion_2" class="collapse">
										<div class="panel-body">
											Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion2" href="#acordion_3">
												<i class="fa fa-plus"></i>
												Nuestra Filosofía
											</a>
										</h4>
									</div>
									<div id="acordion_3" class="collapse">
										<div class="panel-body">
											Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
										</div>
									</div>
								</div>
							</div>
							<!-- /ACCORDION -->

						</div>

					</div>

				</div>
			</section>
			<!-- /SECTION -->			
{% endblock content %}
