{% extends 'base_inicio.html' %}
{% load staticfiles %}

{% block content %}
<!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<h2><!-- Page Title -->
							<strong>Sobre</strong> Nuestro Personal
						</h2><!-- /Page Title -->
					</header>

				</div>			
			</section>
			<!-- /PAGE TOP -->



			<!-- CONTENT -->
			<section>
				<div class="container">

					<p class="lead">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
					<p>Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enim sadips ipsums dolores sit.Nemo enims sadips ipsums un inventore veritatis et quasi.</p>

					<!-- important people -->
					<div class="row margin-top60">

						<div class="col-sm-6 col-md-6"><!-- member -->
							<div class="box-content thumbnail fullwidth text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/15.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">John Doe
												<small class="block">Founder</small>
											</h4>
										</div>
									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enim sadips ipsums dolores sit.Nemo enims sadips ipsums un inventore veritatis et quasi.</p>
								</div>
							</div>
						</div><!-- /member -->

						<div class="col-sm-6 col-md-6"><!-- member -->
							<div class="box-content thumbnail fullwidth text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/14.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Jessica Doe
												<small class="block">Cofounder</small>
											</h4>
										</div>
									</div>
									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enim sadips ipsums dolores sit.Nemo enims sadips ipsums un inventore veritatis et quasi .</p>
								</div>
							</div>
						</div><!-- /member -->

					</div>
					<!-- /important people -->
				<!-- the team -->
					<div class="row margin-top60">

						<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/9.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Jessica Doe
												<small class="block">CEO</small>
											</h4>
										</div>
									</div>
									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->

							<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/10.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Melissa Keith
												<small class="block">President</small>
											</h4>
										</div>
									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->

						<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/11.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Vanessa Mae
												<small class="block">Director</small>
											</h4>
										</div>
										

									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->

						<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/13.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Joannah Dark
												<small class="block">Designer</small>
											</h4>
										</div>
										

									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->



						<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/5.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Jessica Doe
												<small class="block">CEO</small>
											</h4>
										</div>
										

									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->

							<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/6.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Melissa Keith
												<small class="block">President</small>
											</h4>
										</div>
										

									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->

						<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/7.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Vanessa Mae
												<small class="block">Director</small>
											</h4>
										</div>
										

									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->

						<div class="col-sm-4 col-md-3"><!-- member -->
							<div class="box-content thumbnail text-center">
								<span class="item-image">
									<img class="img-responsive" src="{% static 'assets/images/demo/people/fixed-height/8.jpg' %}" alt="" />
								</span>
								<div class="caption text-left">

									<div class="clearfix margin-bottom10">
										<div class="pull-left">
											<h4 class="nomargin">Joannah Dark
												<small class="block">Designer</small>
											</h4>
										</div>
										

									</div>

									<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
								</div>
							</div>
						</div><!-- /member -->

					</div>
					<!-- /the team -->

				</div>
			</section>
			<!-- /CONTENT -->			
{% endblock content %}
