{% extends 'base_sisacademico.html' %}
{% load staticfiles  %}

{% block content %}
<div class = "col-md-10 col-md-offset-1">
	<h2>
		Búsqueda de Notas de Periodos por Alumno <br>		
		<small>
		Introduzca el número de cédula, el periodo y el nivel del cual desea consultar las notas. 
		</small>
	</h2>
	{% if tipo == 'quimestral' %}
		<p> <a href="{% url 'sisacademico:alumnos' 'periodo' %}">Reporte de Notas por Periodo</a></p>
	{% else %}
		<p> <a href="{% url 'sisacademico:alumnos' 'quimestral' %}">Reporte de Notas Quimestrales</a></p>
	{% endif %}
	<hr>
</div>
<div class = "col-md-6 col-md-offset-2">
	<p id ="errores" class ="well hidden"> </p>
	{% if tipo == 'quimestral' %}
	<form id="form_alumnos" role = "form" action = "{% url 'sisacademico:reporte_quimestre' %}" method="get">
	{% else %}
	<form id="form_alumnos" role = "form" action = "{% url 'sisacademico:alumno_notas' %}" method="get">
	{% endif %}
		<div class = "form-group">
			{{form}}
		</div>
		<input id="form_enviar" class = "btn btn-default" type="submit" value="Enviar"/>
	</form>
</div>

<script>

$(document).ready(function(){
	$("#form_enviar").on("click", function(e){
		e.preventDefault();
		var cedula = $("#cedula").val();
		if (cedula == parseInt(cedula, 10)){
			$("#form_alumnos").submit();
		}
		else{
			$("#errores").removeClass("hidden").text("Por favor, escribe una cédula válida");
		}
	});
})

</script
{% endblock content %}