<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>Colegio Amelia Gallegos</title>
<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
</head>

<style>
h1 {
	text-align: center
}
</style>

<body>
	<div class = "col-md-10">
		<h1> Colegio Amelia Gallegos </h1>
		<h3> {{alumno.nombre_completo|upper}} - <small> Notas / {{quimestre}} Quimestre / {{ano}} </small> </h2>
	</div>
	<div class = "row">
	<div class = "col-md-12">
		<table class ="table table-bordered table-striped">
			<thead>
			<tr>
				<th>Clase</th>
				<th>Primer Parcial</th>
				<th>Segundo Parcial</th>
				<th>Tercer Parcial</th>
				<th>Promedio Quimestral</th>
			</tr>
			</thead>
			<tbody>
				{% for nota in notas %}
					<tr>
						<td>{{nota.0.nombre|upper}}</td>
						<td>{{nota.1.1}}</td>
						<td>{{nota.2.1}}</td>
						<td>{{nota.3.1}}</td>
						<td>{{nota.4}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>
</body>
</html>