{% extends 'base_sisacademico.html' %}
{% load staticfiles  %}

{% block content %}
<div class = "col-md-10 col-md-offset-1">
	<h2>
		Búsqueda de Notas por Alumno <br>
		<small>
		Introduzca el número de cédula, el periodo y el nivel del cual desea consultar las notas. 
		</small>
	</h2>
	<hr>
</div>
<div class = "col-md-6 col-md-offset-2">
	<form role = "form" action = "{% url 'sisacademico:alumno_notas' %}" method="get">
	<div class = "form-group">
	{{form_alumnos}}
	</div>
	<input class = "btn btn-default" type="submit" value="Enviar"/>
	</form>
</div>
{% endblock content %}