{% extends 'base_sisacademico.html' %}

{% block content %}
<div class = "col-md-6 col-md-offset-2">
	<form method="post">
	{% csrf_token %}
	{{form.non_field_errors}}
	<div class = "form-group">
		<label class = "control-label" for="texto"> Contraseña Actual </label>
		{{form.old_password}}
		{{form.old_password.errors}}
	</div>
	<div class = "form-group">
		<label class = "control-label" for="texto"> Contraseña Nueva </label>
		{{form.new_password1}}
		{{form.new_password1.errors}}
	</div>
	<div class = "form-group">
		<label class = "control-label" for="texto"> Contraseña Nueva, repítela por seguridad</label>
		{{form.new_password2}}
		{{form.new_password2.errors}}
	</div>
	<input class = "btn pull-right" type = "submit" value ="enviar"/>
	</form>
</div>
{% endblock content %}